# Q1

In [6]:
# String
st='Hey'
# list
l=[1,2,3]
# float
f=2.4
# tuple
t=(1,3,4)

(1, 3, 4)

# Q2

In [63]:
vars=['','[DS,ML,Python]',['DS','ML','Python'],1]
for i in range(len(vars)):
    print(f"({i+1}) {type(vars[i])}")

(1) <class 'str'>
(2) <class 'str'>
(3) <class 'list'>
(4) <class 'int'>

# Q3

In [43]:
x=125
y=3
print(f"(i) Division {x/y}")
print(f"(ii) Modulus {x%y}")
print(f"(iii) Floor Division {x//y}")
print(f"(iv) Power {x**y}")

(i) Division 41.666666666666664
(ii) Modulus 2
(iii) Floor Division 41
(iv) Power 1953125

# Q4

In [66]:
vars2=['','[DS,ML,Python]',['DS','ML','Python'],1,(1,23),'str',
     1,5,5.4,{'add':'+'}]
for i in range(len(vars2)):
    print(f"({i+1}) {vars2[i]} {type(vars2[i])}")

(1)  <class 'str'>
(2) [DS,ML,Python] <class 'str'>
(3) ['DS', 'ML', 'Python'] <class 'list'>
(4) 1 <class 'int'>
(5) (1, 23) <class 'tuple'>
(6) str <class 'str'>
(7) 1 <class 'int'>
(8) 5 <class 'int'>
(9) 5.4 <class 'float'>
(10) {'add': '+'} <class 'dict'>

# Q5

In [12]:
x=125
y=5
c=0
while(x%y==0):
    x=x/y
    c+=1
    if(x==1):
        print(f"{c} times")
        break
if(x!=1):
    print('Not purely divisible')

3 times

# Q6

In [35]:
l=[]
for i in range(1,26):
    l.append(i)
print(l)

for i in l:
    if(i%3==0):
        l[i-1]=f"{i} : divisible"
    else:
        l[i-1]=f"{i} : not divisible"
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
['1 : not divisible', '2 : not divisible', '3 : divisible', '4 : not divisible', '5 : not divisible', '6 : divisible', '7 : not divisible', '8 : not divisible', '9 : divisible', '10 : not divisible', '11 : not divisible', '12 : divisible', '13 : not divisible', '14 : not divisible', '15 : divisible', '16 : not divisible', '17 : not divisible', '18 : divisible', '19 : not divisible', '20 : not divisible', '21 : divisible', '22 : not divisible', '23 : not divisible', '24 : divisible', '25 : not divisible']

# Q7

In [36]:
# Mutable Data Types:

# Mutable data types are those where the data can be modified after the object is created.
# Lists and dictionaries are common examples of mutable data types in Python.

my_list = [1, 2, 3]
print(my_list)
my_list[0] = 4  
print(my_list)

[1, 2, 3]
[4, 2, 3]

In [40]:
my_tuple=(1,2)
print(my_tuple)
# my_tuple[0]=0 this will thrown an error

(1, 2)